.login-form-wrap{
    height: 100%;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.login-form{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
    transition: all .5s ease-in-out;
}

.login-form-wrap h1{
    font-size: 4rem;
}

.login-form-wrap a{
    font-size: 1.5rem;
    padding-left: 10px;
    cursor: pointer;
}

.login-form-wrap button{
    background-color: inherit;
    border-radius: 30px;
    padding: 10px 40px;
    font-size: 2rem;
    align-self: center;
    cursor: pointer;
}

.absolute{
    position: absolute;
}