.notification-container{
    position: relative;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.notification-close-btn{
    width: 10px;
    height: auto;
    aspect-ratio: 1;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.notification-container.error{
    border: solid red 2px;
    background-color: rgb(253, 237, 237);
}

.notification-container.warning{
    border: solid rgb(255, 170, 0) 2px;
    background-color: rgb(255, 244, 229)
}

.notification-container.info{
    border: solid rgb(0, 119, 255) 2px;
    background-color: rgb(229, 246, 253);
}

.notification-container.success{
    border: solid rgb(2, 160, 2) 2px;
    background-color: rgb(237, 247, 237);
}

.notification-image-wrap{
    width: 20px;
    height: auto;
    aspect-ratio: 1;
}

.notification-text{
    padding-bottom: 3px;
}

.notification-text.error{
    color: rgb(95, 33, 32);
}

.notification-text.warning{
    color: rgb(102, 60, 0);
}

.notification-text.info{
    color: rgb(1, 67, 97);
}

.notification-text.success{
    color: rgb(30, 70, 32);
}