.scroller-container{
    background-color: var(--main-bg-color);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 20px;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;
}

.scroller-container.visible{
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
}