.users-list-popup-wrap{
    height: 100%;
}

.users-list-wrap{
    position: relative;
    min-width: 250px;
    max-width: 500px;
    max-height: 650px;
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--main-bg-color);
    border-radius: 30px;
    padding: 20px 50px;
    gap: 20px;
    overflow-y: scroll;
}

.users-list-header{
    font-size: 3rem;
}

.users-list-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.users-list-close-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: auto;
    aspect-ratio: 1;
    cursor: pointer;
}

@media (max-width: 790px){
    .users-list-wrap{
        padding: 20px;
    }
    .users-list-close-btn{
        width: 20px;
    }
}